Flask cs50
you should downgrade python version, follow these steps:


1) source py312env/bin/activate
2) check version by "python --version" it should be 3.12
3) pip install flask pydub cs50 ffmpeg-python

then you can flask run

