{% extends "layout.html" %}
{% block title %}
    About Us
{% endblock %}

{% block content %}
     <h2>About Us</h2>
     <div class="container">
     <p>
        We are three Computer Engineering students at Cairo University, Faculty of Engineering (CUFE).
In our preparatory year, we ranked among the top 70 students, and since then we’ve kept challenging ourselves through projects, teamwork, and extra learning — including completing Harvard’s CS50 Introduction to Computer Science course.
We believe in supporting each other and those around us, which has helped us grow not only as engineers but also as teammates and friends.
    </p>
     </div>
     <div class="about-container">
        <div class="about-box">
            <h3>Youssef Sayed</h3>
            <p>Youssef has a sharp eye for details and a natural gift for critical thinking. His contributions were vital in his Critical Thinking project team, and later he impressed with a structured and confident presentation in his Societal Issues group. He thrives when solving tough problems and inspiring others to think deeper</p>
        </div>
        <div class="about-box">
                <h3>Mohamed Osama</h3>
                <p>Mohamed brings balance and reliability to every project he joins. With his analytical mindset, he quickly breaks down challenges into manageable steps. He is always ready to support his colleagues, making teamwork smoother and more productive. His dedication to learning was evident when he completed CS50, strengthening both his programming skills and his confidence as a future engineer.</p>
        </div>
            <div class="about-box">
                <h3>Nour Ibrahim</h3>
                <p>Nour is known for her persistence and creativity. She is one of those hardworking teammates who never hesitate to step in and help others. During group work, she often takes the initiative to keep things organized and clear. Her experience with CS50 gave her a strong foundation in coding and problem-solving, which she actively shares with peers</p>
            </div>
     </div>
{% endblock %}
