{% extends "layout.html" %}

{% block title %}
    Contact Us
{% endblock %}

{% block content %}
    <h2>Contact Us</h2>
    <div class="about-container">
        <div class="about-box">
            <h3>LinkedIn</h3>
            <ul>
                <li><a href="https://www.linkedin.com/in/youssef-sayed-96194b371?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">Youssef Sayed</a></li>
                <li><a href="https://www.linkedin.com/in/mohamed-osama-122766343?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">Mohamed Osama</a></li>
                <li><a href="https://www.linkedin.com/in/nour-ibrahim-57967736a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">Nour Ibrahim</a></li>
            </ul>
        </div>
        <div class="about-box">
            <h3>GitHup</h3>
            <ul>
                <li><a href="https://github.com/Youssef12as">Youssef Sayed</a></li>
                <li><a href="https://github.com/Muhmd95">Mohamed Osama</a></li>
                <li><a href="https://github.com/nooribrahim06">Nour Ibrahim</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
