{% extends "layout.html" %}

{% block title %}Home - Personal Profile{% endblock %}

{% block content %}
<!-- Hero Section -->
<section class="hero">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>

    <div class="buttons">
        <a href="/about">About Us</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/contact">Contact</a>
    </div>
</section>

<!-- Services Section -->
<div class="container" id="services">
    <h2>What I Do</h2>
    <div class="services">
        <div class="service" data-aos="fade-up">
            <i class="bi bi-code-slash"></i>
            <h3>Cipher</h3>
            <p>We gonna help you trasform text to keep it secret.</p>
            <a href="/cipher">Cipher Text.</a>
        </div>
        <div class="service" data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-phone"></i>
            <h3>volume</h3>
            <p>Adjust the volume of a file.</p>
            <a href="{{ url_for('audio') }}">Adjust</a>
        </div>
        <div class="service" data-aos="fade-up" data-aos-delay="200">
            <i class="bi bi-palette"></i>
            <h3>UI/UX Design</h3>
            <p>Creating sleek, user-focused designs that boost engagement and usability.</p>
            <a href="design.html">Learn More</a>
        </div>
        <div class="service" data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-controller"></i>
            <h3>Snake Game</h3>
            <p>Play the classic snake — use arrow keys to collect points.</p>
            <a href="{{ url_for('snake') }}">Play Snake</a>
        </div>
        <div class="service" data-aos="fade-up" data-aos-delay="500">
            <i class="bi bi-joystick"></i>
            <h3>Rat Game</h3>
            <p>Help make a difference by donating to trusted organizations.</p>
            <a href="{{ url_for('mouse') }}">Play Snake</a>
        </div>
        <div class="service" data-aos="fade-up" data-aos-delay="400">
            <i class="bi bi-heart-fill"></i>
            <h3>Gaza</h3>
            <p>Raising awareness and showing solidarity with Gaza.</p>
            <a href="support.html">Learn More</a>
        </div>
    </div>
</div>
{% endblock %}

